# Virtual Environment
venv/

# Python
__pycache__/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
terraform/.terraform.lock.hcl
